*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Arimo', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: black;
    margin: 10px 100px;
}

.myphoto{
    width: 300px;
    border-radius: 50%;
    color: white;
    border: 5px solid #ca0cca; 
}

h1{
    color: white;
    padding: 20px;
    background-color: red;
    text-align: center;
    margin: 0px 330px;   
    clip-path: polygon(13% 0, 0 100%, 89% 100%, 100% 0%);
    font-family: 'Arimo', sans-serif;
    font-family: 'DynaPuff', cursive;
    font-size: 35px;
    border-radius: 50%;
}

.main-hd{
    padding: 20px 30px;;
}

.container{
    text-align: center;
}

h2{
    color: white;
    margin-top: 5px;;
}

.h1{
    margin-top: 90px;
    margin-bottom: 20px;;
    background: orange;
    color: white;
    border-radius: 40px;
    clip-path: none;
    padding: 10px 20px;;
}

p{
    color: white;
    padding: 10px;
}

#para{
    font-size: 20px;
    font-family: 'poppins';
}

.program{
    width: 100px;
    margin: 20px;
    padding-top: 10px;
}

.contain-5{
    display: flex; 
}

.div-1{
    padding-right: 80px;;
    padding-top: 10px;;
}

.h-photo{
    width: 300px;
    border-radius: 20px;
}

#div-1{
    height: 300px;
}

mark{
    padding: 5px;
    color: white;
    background: orangered;
    border-radius: 10px;
}

span{
    color: red;
}

iframe{
    width: 100%;
}

.loc-hd{
    margin-top: 80px;;
    margin-bottom: 20px;;
}

.fol-hd{
    margin-top: 120px;
    margin-bottom: 20px;
}

#copyright{
    text-align: center;
    font-family: 'poppins';
}

a i{
    font-size: 35px;
    padding: 60px;
}

.contain-7{
    margin-left: 21%;
}

.fa-linkedin-in{
    color: blue;
}

.fa-instagram{
    color: red;
}

.fa-github{
    color: rgb(85, 1, 175)
}

.fa-stack-overflow{
    color: yellow;
}




/* ======================== media quiries =========================== */




@media (max-width: 600px) {
    *{
        /* font-size: 15px; */
        margin: 0;
        padding: 0;
    }

    .container{
        width: 100%;
    }

    .myphoto{
        width: 200px;
    }

    .main-hd{
        font-size: 20px;
        padding: 10px 50px;
        text-align: center;
    }

    body{
        margin: 0;
        width: 100%;
    }

    .h1{
        font-size: 18px;
        margin-left: 40px;
        margin-right: 40px;
        font-family: 'poppins';;
    }

    h1{
        margin: 0;
    }

    #para{
        font-size: 13px;
    }

    h2{
        font-size: 15px;
    }

    .program{
        width: 40px;
        margin: 0;
        margin: 0;
    }

    .contain-3{
        width: 100%;
        text-align: center;
    }

    .contain-5{
        flex-direction: column;
        width: 100%;
    }

    .div-1{
        text-align: center;
        padding-right: 0;
    }

    iframe{
        padding-left: 10px;
        padding-right: 10px;
    }

    .fa-brands{
        font-size: 20px;
        padding: 8px;
        /* text-align: center; */
    }

    .contain-7{
        width: 100%;
        text-align: center;
        margin: 0;
    }

    hr{
        padding-left: 25px;
        padding-right: 25px;
    }
}

